/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 @font-face {
    font-family: 'DS-Digital';
    src: url('../font/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
	background:#000000;
}

/* Portrait layout (default) */
.app {
    margin: 0;
	padding: 0;
    overflow: hidden;
	position: absolute;
  	top: 50%;
  	left: 50%;
	width:100%;
	height:100%;
  	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
	-ms-transform: translate(-50%, -50%);     /* IE9+ */
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family:DS-Digital;
	text-align:center;
	vertical-align:middle;
	font-size:60px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        
    }
}

#container {
    overflow: hidden;
	height:87%;
	line-height:2.3em;
    margin: 15px;
    padding: 15px;
    border: 1px solid #333;
    color: #fff;
	text-shadow: 0 0 10px #00c6ff;
	text-align:center;
}

.date {
	clear:both;
	margin:0;
    font-family:DS-Digital;
    font-size: 1em;
	font-weight:normal;
    text-align: center;
}

#clock {
	margin: 0 auto;
	padding: 0;
	width:95%;
	height:4em;
	line-height:4em;
}

#clock span {
	position: relative;
	display: block;
	font-family: DS-Digital;
	padding: 0;
}

.mainClockSize {
		font-size:5em;
	}

.hours {
	float:left;
	text-align:right;
	
}

.min {
	float:left;
}

.point {
	float:left;
	width:.2em;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

.ampm {
	font-size:2em;
	line-height:3em;
	float:left;
	text-align:left;
	margin-left:.175em;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
